AddressBook/src/main/resources/com/sijiang/webservice/soap/message_format/AddEmailRequest.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://addressbook.com/add_email">

	<xs:element name="AddEmailRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string" />
				<xs:element name="lastname" type="xs:string" />
				<xs:element name="email" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>