AddressBook/src/main/resources/com/sijiang/webservice/soap/message_format/AddPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://addressbook.com/add_person"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="AddPersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="age" type="xs:decimal" />
				<xs:element name="firstname" type="xs:string" />
				<xs:element name="lastname" type="xs:string" />
				<xs:element name="username" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>