AddressBook/src/main/resources/com/sijiang/webservice/soap/message_format/FindPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://addressbook.com/find_person_by_lastname_and_firstname" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FindPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="FindPersonStatus"/>
        <xs:element name="Person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="age"/>
              <xs:element type="xs:string" name="firstname"/>
              <xs:element type="xs:string" name="lastname"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element name="PhoneNumber" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="countrycode"/>
                    <xs:element type="xs:short" name="areacode"/>
                    <xs:element type="xs:short" name="prefix"/>
                    <xs:element type="xs:short" name="linenumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Email" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="streetname"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:short" name="postalcode"/>
                    <xs:element type="xs:string" name="addresstype"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>