AddressBook/src/main/resources/com/sijiang/webservice/soap/message_format/FindPersonRequest.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://addressbook.com/find_person_by_lastname_and_firstname"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="FindPersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string" />
				<xs:element name="lastname" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>